.tick text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}
.axis-label {
	text-anchor: middle;
	font-size: 1.4rem;
}
.scoreChartCirc {
	text {
		transform-origin: center;
	}
}

.score-badge.unscored {
	rect {
		fill: none !important;
		stroke: #333 !important;
	}
	text {
		fill: #333 !important;
	}
}
