/*table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after {
position: static;
display: inline;
}*/

.data-container {
  @include flexbox(column nowrap);
  justify-content: flex-start;
  align-items: flex-start;
  // width: 100%;

  padding: 10px 0;
  // padding-top: 0px;
  // padding-top: 20px;

  .title-container {
    @include flexbox(row nowrap);
    justify-content: space-between;
    align-items: start;
    width: 100%;

    .title {
      color: $headerColor;
      line-height: unset;
      font-size: 24px;
      margin-top: 20px;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      // color: #000;
      // color: #11315D;
      &.dark {
        color: white;
      }
    }
  }

  .select-data-container {
    width: 100%;
    margin: 20px 0;
    font-size: 20px;

    @include flexbox(column nowrap);
    justify-content: flex-start;
    align-items: flex-start;

    .select-data-header {
      background-color: #E6E6E6;
      width: 100%;
      padding: 10px;
      // padding: 5px 10px 5px 5px;
      text-transform: none;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;

      @include flexbox(row nowrap);
      justify-content: space-between;
      align-items: center;

      .glyphicon.glyphicon-chevron-up {
        color: #4682b4;
        font-weight: lighter;
        transform: rotate(180deg);
        &.flip {
          transform: rotate(0deg);
          transition: transform 1000msec;
        }
      }

      &.dark {
        background-color: #555;
        border: 1px solid #ddd;
      }
    }

    .select-data-contents {
      width: 100%;
      // padding: 10px 15px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2,auto);
      grid-template-areas: "filters"
      "separator"
      "fields";
      grid-gap: 10px 0;
      // grid-template-areas: "filters filters"
      // "filters filters"
      // "filters filters"
      // "fields download";
      background: #f2f2f2;
      border: none;
      font-size: .75em;
      &.dark {
        background-color: $darkcolor;
        border: 1px solid #666666;
      }

      .filter-contents, .field-contents { padding: 10px 15px; }

      .filter-contents {
        grid-area: filters;
        .clear-filter-btn {
          visibility: hidden;
          float:right;
        }
        .filter-options {
          margin-top: 10px;
          display: grid;
          grid-auto-flow: column dense;
          grid-gap: 10px;
          justify-content: left;
        }
      }

      .separator {
        grid-area: separator;
        background: white;
        height: 2px;
      }

      .field-contents {
        grid-area: fields;
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: auto;
        grid-template-areas: "fields download";
        .field-options {
          grid-area: fields;
          form {
            margin-top: 10px;
            padding-left: 5px;
            label {
              margin: 0 !important;
              padding-left: 20px;
              font-weight: normal;
            }
            input {
              position: absolute;
              margin-left: 0;
              left: 0;
            }
            padding-left: 5px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-auto-flow: column;
            grid-template-rows: repeat(3, auto);
          }
        }
        .download-container {
          grid-area: download;
        }
      }
    }
  }

  .download-container {
    align-self: flex-end;
    padding: 10px;
    // margin: 10px 0;
  }

  .paginate_button {
    &.dark {
      &.active {
        a {
          background-color: $darkcolor;
        }
      }
      a {
        border: none;
        color: white;
        background-color: #36404d;
      }
    }
  }

  .preview-container { width: 100%; }
  table {
    .nowrap {
      white-space: nowrap;
    }
    width: 100%;
    td { min-width: 200px; }
    td,tr {
      border: 1px solid #666666;
    }
    // td:nth-child(1) {
    //   border-right: none;
    // }
    // td:nth-child(2) {
    //   border-left: none;
    //   border-right: none;
    // }
    // td:nth-child(3) {
    //   border-left: none;
    // }

    thead {
      td,tr {
        background-color: #eaeaea;
        color: black;
        &.dark {
          background-color: #555;
          color: white;
        }
      }
    }
    tbody {
      td,tr {
        background-color: white;
        color: black;
        &.dark {
          background-color: $darkcolor;
          color: white;
        }
      }
    }
  }
}
