<script id="about-template" type="text/x-handlebars-template">
    <div class="about-page-container">
        <div class="container container-content">
          {{#if background}}
            {{> background }}
          {{/if}}
          {{#if data}}
            {{> data }}
          {{/if}}
          {{#if research}}
            {{> research }}
          {{/if}}
        </div>
    </div>
</script>
