<script id="data-template" type="text/x-handlebars-template">
  <div class="data-container container container-text">
    <div class="title-container">
      <div class="title">
        Download Data
      </div>
      <div class="data-toggle"></div>
      <button class="talus-btn talus-secondary-btn ghsa-button" value="GHSA"></button>
    </div>

    <div class="select-data-container">
      <div class="select-data-header">
        <span class="select-data-title">Select Data</span>
        <span class="select-data-glyph glyphicon glyphicon-chevron-up"></span>
      </div>
      <div class="select-data-contents">
        <div class="filter-contents">
          <span>Select filters to apply to selected data.</span>
          <div class="clear-filter-btn btn btn-sm talus-secondary-btn">Clear selections</div>
          <div class="filter-options">
            <select class="cc-select form-control" multiple="multiple"></select>
            <select key="assistance_type" title="Assistance type" class="other-select form-control" multiple="multiple"></select>
            <select key="donor_name" title="Funder" class="other-select form-control" multiple="multiple"></select>
            <select key="recipient_name" title="Recipient" class="other-select form-control" multiple="multiple"></select>
          </div>
          <div class="filter-selections"></div>
        </div>
        <div class="separator"></div>
        <div class="field-contents">
          <div class="field-options">
            <span>Choose data fields to include in table/download.</span>
          </div>
          <div class="download-container btn talus-primary-btn"></div>
        </div>
      </div>
    </div>
    <div class="preview-container">
      <table class="download-data-table table table-bordered table-hover"></table>
    </div>
  </div>
</script>
