<script id="research-template" type="text/x-handlebars-partial">
  <div class="title">Research</div>
  <div class="description">
  <p>A peer-reviewed paper describing this dashboard project is available <a target="_blank" href="https://link.springer.com/article/10.1007%2Fs10393-019-01402-w">here</a>.</p>
  <p>Suggested citation: Katz, R; Graeden, E; Kerr, J; Eaneff, S. &ldquo;Tracking the Flow of Funds in Global Health Security.&rdquo;<em> EcoHealth</em>, 2019, doi:10.1007/s10393-019-01402-w.</p>
  <p>We invite you to share any research conducted using GIDA, so we can link to it from the dashboard. Please contact us by email at <a href="mailto:ihrcosting@georgetown.edu">ihrcosting@georgetown.edu</a>.</p>
  <table>
    <tbody>
      <tr>
        <td>
          Research effort
        </td>
        <td>
          Reference
        </td>
      </tr>
      <tr>
        <td>
          Global Health Center report on Financing National Preparedness for Outbreaks
        </td>
        <td>
          Moon, S; and Vaidya, R. &ldquo;Investing for a Rainy Day: Challenges in Financing National Preparedness for Outbreaks.&rdquo; <em>Global Health Centre Working Paper No. 18</em>, 2018.
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</script>
